@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
  background-color: #F9F9FB;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

input, textarea {
  outline:none
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}